In [2]:
import pandas as pd

In [3]:
# Load the CSV files
biblical_names = pd.read_csv('Baby_Names_Start/biblical_names.csv')
top_five_names_per_state = pd.read_csv('Baby_Names_Start/top_five_names_per_state.csv')

In [4]:
# Extract the list of biblical names
biblical_names_list = biblical_names['Name'].tolist()

In [5]:
# Filter the top_five_names_per_state for names that are in the biblical names list
filtered_names = top_five_names_per_state[top_five_names_per_state['Name'].isin(biblical_names_list)]

In [6]:
# Group by Year and Name, then count the occurrences
biblical_name_counts_per_year = filtered_names.groupby(['Year', 'Name']).size().reset_index(name='Count')

In [7]:
# Display the result
biblical_name_counts_per_year.head(10)

   Year    Name  Count
0  1910    Anna      9
1  1910    Edna      1
2  1911    Anna      5
3  1912    Anna      6
4  1913    Anna      5
5  1914    Anna      5
6  1915    Anna      7
7  1916  Andrew      1
8  1916    Anna      5
9  1917    Anna      5

In [8]:
# Save the results to a new CSV file
biblical_name_counts_per_year.to_csv('biblical_name_counts_per_year.csv', index=False)

In [9]:
# Calculate the total number of top five names per year
total_names_per_year = top_five_names_per_state.groupby('Year').size().reset_index(name='Total_Count')

In [10]:
# Merge the biblical name counts with the total counts
merged_data = pd.merge(biblical_name_counts_per_year, total_names_per_year, on='Year')

In [11]:
# Calculate the percentage
merged_data['Percentage'] = (merged_data['Count'] / merged_data['Total_Count']) * 100

In [12]:
# Display the result
merged_data.head(10)

   Year    Name  Count  Total_Count  Percentage
0  1910    Anna      9          509    1.768173
1  1910    Edna      1          509    0.196464
2  1911    Anna      5          510    0.980392
3  1912    Anna      6          510    1.176471
4  1913    Anna      5          510    0.980392
5  1914    Anna      5          510    0.980392
6  1915    Anna      7          510    1.372549
7  1916  Andrew      1          510    0.196078
8  1916    Anna      5          510    0.980392
9  1917    Anna      5          510    0.980392

In [13]:
# Save the results to a new CSV file
merged_data.to_csv('biblical_name_percentage_per_year.csv', index=False)