In [1]:
# Scrapping the most important events table from "https://news.gallup.com/poll/3427/most-important-events-century-from-viewpoint-people.aspx"
# importing packages

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://news.gallup.com/poll/3427/most-important-events-century-from-viewpoint-people.aspx"
response = requests.get(url)
webpage = response.content

soup = BeautifulSoup(webpage, 'html.parser')

In [3]:
rows = soup.table.select("tr")
data_rows = rows[2:]

data = []
for row in data_rows:
    row_data = (row.stripped_strings)
    data.append(row_data)

Events_df = pd.DataFrame(data)

In [4]:
Events_df.rename(columns={0 : "Event", 
                          1 : "% Viewed Most Important", 
                          2 : "% Viewed Important", 
                          3 : "% Viewed Somewhat Important", 
                          4 : "% Viewed Not Important", 
                          5 : "% Dont Know"}, 
                          inplace = True)

In [5]:
Events_df.columns

Index(['Event', '% Viewed Most Important', '% Viewed Important',
       '% Viewed Somewhat Important', '% Viewed Not Important', '% Dont Know'],
      dtype='object')

In [6]:
Events_df.head(3)

,Event,% Viewed Most Important,% Viewed Important,% Viewed Somewhat Important,% Viewed Not Important,% Dont Know
0,1. World War II,71,21,5,2,1
1,2. Women gaining the right to vote in 1920,66,20,11,3,0
2,3. Dropping the atomic bomb on Hiroshima in 1945,66,20,9,4,1

In [7]:
# Replace the * with >0.5, value come from gallup table legend
Events_df["% Dont Know"] = Events_df["% Dont Know"].replace("*", ">0.5")

In [8]:
Events_df

,Event,% Viewed Most Important,% Viewed Important,% Viewed Somewhat Important,% Viewed Not Important,% Dont Know
0,1. World War II,71,21,5,2,1
1,2. Women gaining the right to vote in 1920,66,20,11,3,0
2,3. Dropping the atomic bomb on Hiroshima in 1945,66,20,9,4,1
3,4. The Nazi Holocaust during World War II,65,20,9,5,1
4,5. Passage of the 1964 Civil Rights Act,58,26,13,2,1
5,6. World War I,53,28,11,5,3
6,7. Landing a man on the moon in 1969,50,30,15,5,>0.5
7,8. The assassination of President Kennedy in 1963,50,29,15,5,1
8,9. The fall of the Berlin Wall in 1989,48,30,19,3,0
9,10. The U.S. Depression in the 1930s,48,29,18,3,2
10,11. The breakup of the Soviet Union in the ear...,46,31,19,3,1
11,12. The Vietnam War in the 1960s and early 1970s,37,31,20,11,1
12,13. Charles Lindbergh's transatlantic flight i...,27,33,28,11,1
13,14. The launching of the Russian Sputnik satel...,25,34,28,12,1
14,15. The Korean War in the early 1950s,21,36,32,10,1
15,16. The Persian Gulf War in 1991,18,38,32,11,1
16,17. The Impeachment of President Bill Clinton ...,15,25,24,35,1
17,18. The Watergate scandal involving Richard Ni...,14,32,34,19,1

In [9]:
Events_df.to_csv("Most_Important_Events.csv", index=False)