In [33]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [34]:
import os
import pandas as pd
def process_files_in_folder(folder_path):
    all_data = []
    # Loop through all files in the folder
    for file_name in os.listdir(folder_path):
        if file_name.endswith('.TXT'):
            file_path = os.path.join(folder_path, file_name)
            # Read the file into a DataFrame
            df = pd.read_csv(file_path, header=None)
            # Assign column names
            df.columns = ['State', 'Gender', 'Year', 'Name', 'Count']
            all_data.append(df)
    # Concatenate all dataframes into one
    combined_babynames_df = pd.concat(all_data, ignore_index=True)
    return combined_df

folder_path = 'babynamesstate'
combined_babynames_df = process_files_in_folder(folder_path)

combined_babynames_df.head(10)

  State Gender  Year      Name  Count
0    AK      F  1910      Mary     14
1    AK      F  1910     Annie     12
2    AK      F  1910      Anna     10
3    AK      F  1910  Margaret      8
4    AK      F  1910     Helen      7
5    AK      F  1910     Elsie      6
6    AK      F  1910      Lucy      6
7    AK      F  1910   Dorothy      5
8    AK      F  1911      Mary     12
9    AK      F  1911  Margaret      7

In [35]:
os.getcwd()

'c:\\Users\\jacky\\Project_3\\Baby_Names_Start'

In [36]:
# grabbing the top 5 names by for each year and state through the entire uncleaned df
top_names_state = combined_babynames_df.groupby(["State", "Year", "Gender"]).apply(lambda x: x.nlargest(5, "Count")).reset_index(drop = True)
top_names_state.head(5)

  State Gender  Year      Name  Count
0    AK      F  1910      Mary     14
1    AK      F  1910     Annie     12
2    AK      F  1910      Anna     10
3    AK      F  1910  Margaret      8
4    AK      F  1910     Helen      7

In [37]:
# finding the new length of the df
len(top_names_state)

58139

In [38]:
# now lets try and widle the data down a bit more and get the top 5 most popular names over the entire time span by state
top_names_state2 = top_names_state.groupby(["State", "Name", "Gender"])["Count"].sum().reset_index()

top_names_state2.groupby("State").apply(lambda x: x.nlargest(5, "Count")).reset_index(drop = True)

print(top_names_state2)

     State       Name Gender  Count
0       AK    Abigail      F    274
1       AK      Agnes      F     38
2       AK      Aiden      M     58
3       AK     Albert      M     10
4       AK  Alexander      M     52
...    ...        ...    ...    ...
4649    WY     Taylor      F    391
4650    WY      Tyler      M    705
4651    WY    William      M   3208
4652    WY     Willow      F     22
4653    WY      Wyatt      M    366

[4654 rows x 4 columns]

In [41]:
# regrouping the data
top_names_state_df = top_names_state2.groupby(["State", "Gender", "Name"])["Count"].sum().reset_index()

# grab the top 5 (each gender) from each state
top_names_state_df = top_names_state_df.sort_values("Count", ascending=False).groupby(["State", "Gender"]).head(5)

# sorting by state name
top_names_state_df = top_names_state_df.sort_values("State")

print(top_names_state_df)

     State Gender      Name  Count
4       AK      F    Amanda   1392
93      AK      M     James   5056
83      AK      M     David   4807
95      AK      M      John   4751
110     AK      M    Robert   3799
...    ...    ...       ...    ...
4582    WY      F      Mary   5508
4642    WY      M   Michael   6363
4629    WY      M     James   6556
4568    WY      F  Jennifer   2228
4631    WY      M      John   6865

[510 rows x 4 columns]

In [43]:
# output top_names_state_df to csv
top_names_state_df.to_csv("Top_baby_names_by_state.csv", index=False)